.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #203394;
  padding: 1rem 2rem;
  color: white;
  font-weight: bold;
}

.logo {
  font-size: 1.5rem;
}

.navLinks a {
  color: white;
  text-decoration: none;
  margin-left: 1.5rem;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navLinks a:hover {
  color: #ffcc00;
}

.active {
  color: #ffcc00;
  border-bottom: 2px solid #ffcc00;
}
